.column {
    float: left;
    flex-wrap: wrap;
}

.left {
    width: 280px;
}

.middle {
    width: 80px;
}

.right {
    width: 150px;
}

.row {
    content: '';
    display: table;
    clear: both;
}

.reason {
    resize: none;
    min-height: 40px;
    width: 340px;
}

.rolegroup {
    padding: 3px;
    width: 430px;
    border: none;
    text-align: center;
    outline: none;
    display: inline-block;
}

.long {
    width: 860px;
}

.content {
    text-align: center;
}

.nobles {
    background-color: #7851A9;
    color: #443a39;
}

.garrison {
    background-color: #920909;
    color: #443a39;
}

.church {
    background-color: #c2a45d;
    color: #443a39;
}

.serf {
    background-color: #192bc2;
    color: #443a39;
}

.peasant {
    background-color: #553e01;
    color: #443a39;
}

.apprentices {
    background-color: #304529;
    color: #443a39;
}

.abstract {
    background-color: #374048;
}

.ghostandotherroles {
    background-color: #2e0073;
}

.antagonistpositions {
    background-color: #361f1f;
}

.inputbox {
    position: absolute;
    top: 0px;
    left: 4px;
    width: 14px;
    height: 14px;
    background: #e6e6e6;
}

.select {
    position: relative;
    display: inline-block;
}

.hidden {
    display: none;
}
